body {
    background: linear-gradient(#C5E946, #AF4FA2);
    color:black;
}

.main-div {
    height: 100vh;
    width: 100vw;
}


.choice {
    background-color: white;
    color: black;
    border-radius: 0
}

form {
    width: 45vw;
}

.active {
    background-color: green;
    border: 2px solid green;
}



.intro {
    font-size: 1.7em;
    word-spacing:  .2em;
}

input-placeholder {
    color:black;
}